body{
    background-color: #efe1af;
    font-family: sans-serif;
    font-size: 18px;
    margin: auto;
}
.header{
    background-image: url(media/IMG-4155.JPG);
    text-align: center;
    padding: 25px;
}
.highlight{
    display: inline-flex;
    background-color: #fbf9e3;
    color: #ada37d;
    padding: 15px;
    font-size: 55px;
    text-align: center;
    font-family: sans-serif;
    border-radius: 25px;
}
.top{
    overflow: hidden;
    background-color: #ada37d;
}
.top a{
    float: left;
    display: block;
    color: #fbf9e3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: normal;
    font-size: medium;
}
.top a:hover{
    background-color: #d8cea9;
    color: #fbf9e3;
}
.kotak{
    width: 335pt;
    background: #c8b985;
    padding: 10px 20px 50px 20px;
    margin: 100px auto;
    border-radius: 25px;
    text-align: center;
    font-weight: normal;
    font-family:sans-serif;
    color: #fbf9e3;
}
footer{
    color: #c8b985;
    padding: 1em;
    font-family: sans-serif;
}
footer a{
    text-decoration: none;
    text-align: right;
    color: #fbf9e3;
    background-color: #ada37d;
    font-size: 18px;   
    width: 100px;
    height: 30px;
    padding: 8px 10px;
}
footer a:hover{
    background-color: #fbf9e3;
    color: #ada37d;
}